@model TypicalMirek_UsedCarDealer.Models.Garage

@{
    ViewBag.Title = "Index";
}

<h2>Your garage @User.Identity.Name</h2>


@if (Model.Orders != null)
{
    <h3>Your Orders</h3>
    Html.RenderPartial("PartialViews/Orders", Model.Orders);
}
else
{
    Html.RenderPartial("PartialViews/NoOrders");
}


