@using System.Web.Mvc.Html
@using TypicalMirek_UsedCarDealer.Models
@using TypicalMirek_UsedCarDealer.Models.Enums
@model TypicalMirek_UsedCarDealer.Models.ViewModels.AddCarViewModel
@Styles.Render("~/Content/AdminMenu")

@{
    ViewBag.Title = "Create";
    Layout = "../Shared/_AdminLayout.cshtml";
}

<h2>Add car</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr/>

    {
        Html.RenderPartial($"PartialViews/_CreateCarMainData");
    }

    {
        Html.RenderPartial($"PartialViews/_UploadCarPhotos", Model);
    }

    <input type="file" name="Files" id="Files" multiple />

    {
        Html.RenderPartial($"PartialViews/_CreateCarAdditionalData", Model);
    }

    @Html.HiddenFor(model => model.AddTime)

    <div class="form-horizontal col-md-12">
        <div class="form-group col-md-12">
            <div>
                <input type="submit" name="submit" value="Create" class="btn btn-default col-md-12 col-xs-12"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(linkText: "Back to List", actionName: "Admin", controllerName: "Admin", routeValues: new ParametersToAdminMenu { Chose = SidebarChoose.CarList}, htmlAttributes: null)
</div>
