@Styles.Render("~/Content/simple-sidebar")
@Scripts.Render("~/bundles/simple-sidebar")


<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a id="menu-toggle" href="#" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand" href="home.xhtml">
                logo
            </a>
        </div>
        <div id="sidebar-wrapper" class="sidebar-toggle">
            <ul class="sidebar-nav">
                <li>
                    <a href=@Url.Content("~/Admin/Admin?parameter=1")>Show List</a>
                </li>
                <li>
                    <a href="#item2">Item 2</a>
                </li>
                <li>
                    <a href="#item3">Item 3</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

