@Styles.Render("~/Content/simple-sidebar")

<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Car Models<span class="caret"></span><span style="font-size: 16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href=@Url.Content("~/Admin/Admin?parameter=1")>Create</a></li>
                        <li><a href=@Url.Content("~/Admin/Admin?parameter=2")>Delete</a></li>
                        <li><a href=@Url.Content("~/Admin/Admin?parameter=3")>Details</a></li>
                        <li><a href=@Url.Content("~/Admin/Admin?parameter=4")>Edit</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href=@Url.Content("~/Admin/Admin?parameter=5")>Create</a></li>
                        <li><a href=@Url.Content("~/Admin/Admin?parameter=6")>Delete</a></li>
                        <li><a href=@Url.Content("~/Admin/Admin?parameter=7")>Details</a></li>
                        <li><a href=@Url.Content("~/Admin/Admin?parameter=8")>Edit</a></li>
                    </ul>
                </li>
                <li><a href=@Url.Content("~/Admin/Admin?parameter=9")>Slider <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-large"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
