@model IList<string>

@{
    ViewBag.Title = "Home Page";
}

<!-- jQuery library (served from Google) -->
@Styles.Render("~/Content/HomeSlider")
@Scripts.Render("~/bundles/HomeSlider")
<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            mode: 'fade',
            auto: true,
            autoControls: true,
            pause: 2000,
            slideHeight: 360
        });
    });
</script>

<div class="form-group">
    <div class="row">
        <ul class="bxslider" style="width: auto; position: relative;">

            @foreach (var item in Model)
            {
                <li><img src="@Url.Action($"GetCarImage", $"CarManagement", new {imageName = @item})" alt=""/></li>
            }

        </ul>

    </div>

</div>
